.instagramPost-wrapper {
  .instagram-slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    .arrow {
      border-radius: 50%;
      background: #2b2b2b;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .insta-slick-slider-wrapper {
      max-width: 300px;
      width: 100%;
      margin-bottom: 64px;
      .video-tag {
        display: flex !important;
        align-items: center;
        justify-content: center;
        video {
          max-width: 200px;
          width: 100%;
          max-height: 400px;
          height: 100%;
          object-fit: contain;
          margin: 0 auto;
        }
      }
    }
  }
}
