.capabilities-wrapper {
  background: var(--background-one);
  padding: 64px 0;
  @media (max-width: 920px) {
    padding: 32px 0;
  }
  .capabilities-container {
    h4 {
      text-align: center;
      letter-spacing: 2px;
    }
    p {
      padding: 24px 0;
      text-align: center;
    }
  }
  .capabilities-content {
    border: 1px solid var(--border);
    padding: 32px 60px;
    @media (max-width: 520px) {
      padding: 32px;
    }
    @media (max-width: 420px) {
      padding: 18px;
    }
    h2 {
      text-align: center;
      font-weight: 100;
    }
    .grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      padding-top: 24px;
      @media (max-width: 1024px) {
        display: block;
      }
      .content {
        background: var(--background-three);
        backdrop-filter: blur(5px);
        max-width: 516px;
        width: 100%;
        @media (max-width: 1024px) {
          margin: 0 auto;
        }
        .student-img {
          img {
            max-width: auto;
            width: 100%;
            max-height: 238px;
            height: 100%;
            object-fit: cover;
          }
        }
        h3 {
          text-align: center;
          font-size: 20px;
          padding-top: 16px;
          letter-spacing: 1.2px;
        }
        .classes-content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 32px;
          padding: 16px 24px;
          @media (max-width: 520px) {
            gap: 20px;
          }
          .border-left {
            border-left: 1px solid #1e1e1e;
            height: 58px;
          }

          h4 {
            font-size: 24px;
            color: var(--text-primary);
            letter-spacing: -1.44px;
            font-family: "Gilroy-SemiBold";
            text-align: center;
            @media (max-width: 520px) {
              font-size: 18px;
            }
          }
          p {
            font-size: 14px;
            text-align: center;
            @media (max-width: 520px) {
              font-size: 12px;
            }
          }
        }
      }
      .responsive {
        @media (max-width: 1024px) {
          margin-top: 32px;
        }
      }
    }
    .know-more-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      p {
        color: var(--green);
        font-size: 20px;
        font-family: "Gilroy-SemiBold";
      }
    }
  }
  .professional-wrapper {
    border: 1px solid var(--border);
    padding: 32px 60px;
    margin-top: 100px;
    @media (max-width: 920px) {
      margin-top: 54px;
    }
    @media (max-width: 520px) {
      padding: 20px;
    }
    h2 {
      font-weight: 100;
      text-align: center;
    }
    .professional-grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 0;
      @media (max-width: 992px) {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
      }
      .image {
        img {
          max-width: 440px;
          width: 100%;
          max-height: 340px;
          height: 100%;
        }
      }
      .second-content {
        background: var(--background-three);
        padding: 24px;
        max-width: 440px;
        width: 100%;

        .responsive {
          @media (max-width: 620px) {
            margin-top: 16px;
          }
        }
        .head {
          h4 {
            letter-spacing: -0.96px;
            font-size: 24px;
            color: var(--text-primary);
            font-family: "Gilroy-SemiBold";
          }
          p {
            padding: 24px 0;
          }
        }
        .grid-items {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (max-width: 520px) {
            display: block;
          }
        }
        .enroll-now {
          border: 1px solid var(--green);
          padding: 12px 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 24px;
          cursor: pointer;
          button {
            border: none;
            outline: none;
            background: transparent;
            color: var(--green);
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
    .know-more-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      p {
        color: var(--green);
        font-size: 20px;
        font-family: "Gilroy-SemiBold";
      }
    }
  }
  .flex-item {
    gap: 8px;
    p {
      text-transform: uppercase;
      letter-spacing: 1.2px;
      font-size: 12px;
    }
    h3 {
      color: var(--text-primary);
    }
  }
}
