.header-container {
  border-bottom: 1px solid var(--border);
  background: #0a0a0a;
  padding: 0 32px;
  @media (max-width: 420px) {
    padding: 0 12px;
    border-bottom: none;
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .image {
      padding: 8px 0px;
      img {
        max-width: 213px;
        width: 100%;
      }
    }
    .navigation-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 48px;
      @media (max-width: 920px) {
        gap: 18px;
      }
      @media (max-width: 768px) {
        display: none;
      }
      a p {
        font-family: "Gilroy-Medium";
      }
    }
    .access {
      transform: skew(-30deg);
      border-left: 1px solid var(--border);
      display: flex;
      align-items: center;
      gap: 9px;
      padding: 8px 0px 8px 32px;
      cursor: pointer;
      @media (max-width: 420px) {
        padding: 8px 0px 8px 14px;
      }
      img {
        width: 32px;
        height: 32px;
        transform: skew(30deg);
      }
      p {
        transform: skew(30deg);
      }
    }
  }
}

.responsive-header-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  background: var(--border);
  backdrop-filter: blur(10px);
  padding: 12px 0px;
  @media (min-width: 768px) {
    display: none;
  }
  @media (max-width: 420px) {
    gap: 32px;
  }
}
.layout-module {
  padding: 0 24px 24px;
  .access-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: -10px;
    img {
      max-width: 116px;
      width: 100%;
      max-height: 116px;
      height: 100%;
      object-fit: contain;
    }
  }
  .input-wrapper {
    .input-container {
      label {
        color: #fff;
        font-family: "Gilroy-Medium";
        font-size: 14px;
        letter-spacing: 0.8px;
      }
      .student-id {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 16px;
        border: 1px solid #1e1e1e;
        margin-top: 8px;
        width: 296px;

        input {
          outline: none;
          border: none;
          background: transparent;
          font-family: "Gilroy-Medium";
          font-size: 14px;
          color: #fff;
          width: 100%;
        }
      }
    }
    .login-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px;
      border: 1px solid #00a140;
      cursor: pointer;

      button {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        color: #00a140;
        font-size: 14px;
        font-family: "Gilroy-Medium";
      }
    }
    .account-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 16px;
      p {
        color: #fff;
        font-size: 14px;
        font-family: "Gilroy-Medium";
      }
    }
  }

  .enroll {
    display: flex;
    align-items: center;
    gap: 9px;
    cursor: pointer;
    @media (max-width: 560px) {
      margin-top: 24px;
    }
    h5 {
      color: var(--green);
      font-size: 20px;
      font-family: "Gilroy-SemiBold";
    }
  }
}
