.header-container {
  border-bottom: 1px solid var(--border);
  background: #0a0a0a;
  padding: 0 32px;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    .image {
      padding: 8px 0px;
      img {
        width: 212.625px;
        @media (max-width: 470px) {
          width: 100%;
        }
      }
    }
    .access {
      transform: skew(-30deg);
      border-left: 1px solid var(--border);
      display: flex;
      align-items: center;
      gap: 9;
      padding: 8px 0px 8px 32px;
      img {
        width: 32px;
        height: 32px;
        transform: skew(30deg);
      }
      p {
        transform: skew(30deg);
      }
    }
  }
}
