.origin-wrapper {
  background: var(--background-three);
  border-bottom: 1px solid var(--background-three);

  .origin {
    background: var(--background-one);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    padding: 64px 0;
    @media (max-width: 920px) {
      padding: 32px 0;
    }
    @media (max-width: 768px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    }
  }
  .origin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      text-align: center;
      padding: 24px 0;
      font-weight: 100;
    }
    p {
      text-align: center;
    }
  }
  .responsive-second-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    @media (min-width: 768px) {
      display: none;
    }
    video {
      max-width: 568px;
      width: 100%;
      max-height: 686px;
      height: 100%;
      object-fit: contain;
    }
  }
  .origin-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 64px;
    gap: 64px;
    position: relative;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
    .first-item {
      height: 750px;
      overflow-y: scroll;
      padding-bottom: 30px;

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 5px;
      }
      .bodrer-left {
        border-left: 1px solid var(--border);
        height: 580px;
        position: absolute;
        top: 64px;
        left: 11px;
        bottom: 64px;
        z-index: -1000;
        @media (max-width: 420px) {
          height: 480px;
        }
      }

      .flex-item {
        gap: 16px;
        p {
          font-family: "SpaceGrotesk-Bold";
          font-size: 20px;
        }
      }
      .para {
        margin-left: 40px;
        h2 {
          font-size: 32px;
          padding: 17px 0;
          font-weight: 100;
          @media (max-width: 420px) {
            font-size: 28px;
          }
        }
        p {
          margin-bottom: 32px;
        }
      }
    }
    .second-item {
      @media (max-width: 768px) {
        display: none;
      }
      video {
        max-width: 568px;
        width: 100%;
        max-height: 686px;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
