.impacts-wrapper {
  background: var(--background-two);
  padding: 64px 0;
  @media (max-width: 750px) {
    padding: 0;
  }
  .impacts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 66px;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 32px;
    }

    .container-one {
      h2 {
        padding: 24px 0;
        font-weight: 100;
        @media (max-width: 850px) {
          padding: 16px 0;
        }
      }
    }
    .container-two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      gap: 64px;
      @media (max-width: 768px) {
        gap: 32px;
        place-items: center;
      }
      .container-two-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2px;
        @media (max-width: 450px) {
          align-items: center;
        }
      }
    }
  }
}
